.game_header {
  display: flex;
  justify-content: space-between;
  .game_name {
    font-size: 4rem;
    font-weight: 900;
  }
  .score_section {
    width: 47%;
    display: flex;
    justify-content: space-between;
    color: white;
    .current_score {
      background-color: #bbada0;
      padding: 0.2rem 1.2rem;
      border-radius: 2px;
      height: 55%;
      text-align: center;
      margin-right: 0.3rem;
      .score_num {
        font-weight: 900;
        font-size: 1.3rem;
      }
    }
    .best_score {
      background-color: #bbada0;
      padding: 0.2rem 1.2rem;
      border-radius: 2px;
      height: 55%;
      text-align: center;
      .score_num {
        font-weight: 900;
        font-size: 1.3rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .game_header {
    display: flex;
    justify-content: space-between;
    .game_name {
      font-size: 4rem;
      font-weight: 900;
    }
    .score_section {
      width: 50%;
      display: flex;
      justify-content: space-between;
      color: white;
      .current_score {
        background-color: #bbada0;
        padding: 0.2rem 1.2rem;
        border-radius: 2px;
        height: 55%;
        text-align: center;
        margin-right: 0.3rem;
        .score_num {
          font-weight: 900;
          font-size: 1.3rem;
        }
      }
      .best_score {
        background-color: #bbada0;
        padding: 0.2rem 1.2rem;
        border-radius: 2px;
        height: 55%;
        text-align: center;
        .score_num {
          font-weight: 900;
          font-size: 1.3rem;
        }
      }
    }
  }
}
