.home_parent_conatiner {
  background-color: #7a658f;
  color: #776e65;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  .initial_message {
    color: white;
    font-size: 1.5em;

    .right_down_left_arrows_container {
      display: flex;
      justify-content: center;
    }

    .blink {
      animation: blink-animation 1s steps(5, start) infinite;
      -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }
    @keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink-animation {
      to {
        visibility: hidden;
      }
    }
  }

  .home_contanier {
    min-width: 400px;
    margin-top: 8rem;

    .game_container {
      background-color: white;
      padding: 4em 4em 2em 4em;

      button {
        margin-top: 2em;
      }
    }
  }
  .game_description {
    margin: 1rem 0;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 400px) {
  .home_parent_conatiner {
    background-color: white;
    color: #776e65;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    .home_contanier {
      width: 300px;
      margin-top: 1rem;
      padding: 0.5rem;
    }
    .game_dispciption {
      margin: 1rem 0;
      font-size: 1.1rem;
    }
  }
}
